<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VOID | Inicio</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@300;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='Logo-void.ico') }}">
</head>

<body>
  <header class="navbar">
    <div class="container">
      <div class="logo-area">
          <img src="{{ url_for('static', filename='Logo-void.ico') }}" alt="VOID" class="logo-img" />
        <div class="logo-text">VOID<br><span>AI and Software Factory</span></div>
      </div>

      <nav class="nav-links">
        <a id="navHome" href="{{ url_for('home_page') }}">INICIO</a>
        <a id="navUs"   href="{{ url_for('us_page') }}">NOSOTROS</a>
        <a id="navLogin" href="{{ url_for('login_page') }}">ACCEDER</a>
        <a href="{{ url_for('chat_ui') }}">CHAT IA</a>
      </nav>

      <div class="right-section">
        <div class="lang-switch">
          <button id="btn-es" class="lang-btn">SPA</button>
          <button id="btn-en" class="lang-btn">ENG</button>
        </div>
        <a href="https://www.ustabuca.edu.co" target="_blank">
          <img src="{{ url_for('static', filename='USTA.png') }}" alt="USTA" class="logo-usta" />
        </a>
      </div>
    </div>
  </header>

  <main class="hero fade-section">
    <div class="hero-content">
      <h1 id="mainTitle">VOID</h1>
      <h3 id="mainSub">EL BOT COLOMBIANO MÁS RECIENTE</h3>
      <p id="mainDesc">Explora el futuro de la inteligencia artificial, la innovación y el software hecho en Colombia.</p>
    </div>
  </main>

  <div class="redes-fijas">
    <a href="https://www.instagram.com/aivoid_software" target="_blank">
      <img src="{{ url_for('static', filename='insta-logo.png') }}" class="redes-icon" alt="Instagram" />
    </a>
    <a href="https://x.com/void_ia" target="_blank">
      <img src="{{ url_for('static', filename='X-Logo.png') }}" class="redes-icon" alt="X" />
    </a>
    <a href="https://www.tiktok.com/@ia.voidsoft" target="_blank">
      <img src="{{ url_for('static', filename='tiktok-Logo.png') }}" class="redes-icon" alt="TikTok" />
    </a>
  </div>

  <script defer src="{{ url_for('static', filename='proyecto.js') }}"></script>
</body>
</html>