<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VOID | Nosotros</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@300;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <link rel="icon" href="Logo-void.ico">
</head>

<body>
  <header class="navbar">
    <div class="container">
      <div class="logo-area">
        <a href="index.html" target="navHome">
          <img src="Logo_void_transparente.png" alt="VOID" class="logo-img" />
        </a>
        <div class="logo-text">VOID<br><span>AI and Software Factory</span></div>
      </div>

      <nav class="nav-links">
        <a href="index.html" id="navHome">INICIO</a>
        <a href="us.html" class="active" id="navUs">NOSOTROS</a>
        <a href="login.html" id="navLogin">ACCEDER</a>
      </nav>

      <div class="right-section">
        <div class="lang-switch">
          <button id="btn-es" class="lang-btn">SPA</button>
          <button id="btn-en" class="lang-btn">ENG</button>
        </div>
        <a href="https://www.ustabuca.edu.co" target="_blank">
          <img src="USTA.png" alt="USTA" class="logo-usta" />
        </a>
      </div>
    </div>
  </header>

  <main class="us-section fade-section">
    <h2 id="aboutTitle">Conócenos Más</h2>
    <h4 id="aboutSub">El lado oscuro del conocimiento… donde crece la innovación</h4>
    <p id="aboutDesc1">En VOID somos más que un grupo tecnológico: somos un movimiento de mentes valientes que moldean el futuro del software, la IA y la ciberseguridad.</p>
    <p id="aboutDesc2">Nacimos en la Universidad Santo Tomás con la misión de formar y desafiar a la nueva generación de innovadores.</p>
    <p id="aboutDesc3">Creemos en aprender haciendo: proyectos reales, problemas reales, resultados reales.</p>
  </main>

  <div class="redes-fijas">
    <a href="https://www.instagram.com/aivoid_software" target="_blank">
      <img src="insta-logo.png" class="redes-icon" alt="Instagram" />
    </a>
    <a href="https://x.com/void_ia" target="_blank">
      <img src="X-Logo.png" class="redes-icon" alt="X" />
    </a>
    <a href="https://www.tiktok.com/@ia.voidsoft" target="_blank">
      <img src="tiktok-Logo.png" class="redes-icon" alt="TikTok" />
    </a>
  </div>

  <script src="proyecto.js"></script>
</body>
</html>